# Logs
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/selenium-debug.log
server/npm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*

# Dependencies
server/node_modules
client/node_modules

# Built
server/dist
client/dist

# Code coverage reports
server/coverage
server/.nyc_output
client/test/unit/coverage/
client/test/e2e/reports/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
.DS_Store
