h1 Bringgle

p Hello,
p Your friend #{username} invited you to attend the list #{listname}.
a(href=link) Join list

p Bringgle is an open-source application for creating collaborative shareable checklists
