| Bringgle

| Hello,
| Your friend #{username} invited you to attend the list #{listname}.
| To join list, past the following URL in your browser: #{link}

| Bringgle is an open-source application for creating collaborative shareable checklists
