h1 Bringgle

p Hi #{username}, someone recently tried to connect to list #{listname} with you email address.
p If it was you, please use the following link to recover your session.
a(href=link) Recover my session
